/* <--------------------> General Styles <--------------------> */
body {
  direction: rtl;
  text-align: right;
  font-family: Vazir;
}
/* <--------------------> Login_Form Styles<--------------------> */
/* <--------------------> Index_Project Styles<--------------------> */
@media (max-width: 767.98px) {
  #sidebar {
    height: 100%;
  }
  #sidebar.collapsing {
    height: 0;
  }
}
@media (min-width: 768px) {
  #sidebar {
    height: calc(100vh - 114.6px) !important;
    position: fixed;
    transition: transform 0.75s;
  }
  #sidebar.collapse {
    transform: translate(100%, 0);
  }
  #sidebar.collapse.show {
    transform: translate(0, 0);
  }
  #sidebar.collapsing {
    transform: translate(100%, 0);
  }
  #main {
    transition: 0.8s all;
  }
}
@media (min-width: 576px) {
  #Calendar {
    width: 80px !important;
  }
  #divCalendar {
    width: 588px !important;
    margin: auto !important;
  }
}
#CalendarContent {
  font-size: 70%;
}
table#tableXsmall {
  border-collapse: separate !important;
}
table#tableXsmall th,
table#tableXsmall td {
  border: 1px solid #ffc107 !important;
}
@media only screen and (max-width: 325px) {
  #btnXs {
    width: 139px !important;
    margin: 4px auto !important;
  }
  #containerbtnXs {
    width: 100% !important;

  }
}
#shadow {
  box-shadow: 10px 10px 5px rgb(128, 128, 128);
}
.shadow:hover {
  box-shadow: 10px 10px 5px rgb(128, 128, 128) !important;
}
/* <--------------------> List_Class Styles<--------------------> */
#classList {
  width: 300px !important;
}
@media only screen and (max-width: 305px) {
  #classList {
    width: 215px !important;
    margin: auto !important;
  }
}
#arrowcollapsing .fas {
  transition: .3s transform ease-in-out;
}
#arrowcollapsing .fa-angle-double-left {
  transform: rotate(-90deg);
}
#arrowcollapsing .collapsed .fa-angle-double-left {
  transform: rotate(0deg);
}
/* <--------------------> Attendance System Styles<--------------------> */
header > nav#Attendancebread {
  line-height: 30px;
}
header > div#Date {
  line-height: 38px;
}
/* custom-control-label::before,
.custom-control-label::after {
  left: auto !important;
  right: 0 !important;
} */
